$white: #ffffff;
$black: #000000;
$primary: #3563e9;
$success: #43bd91;
$warning: #ef7c1d;
$info: #92a2f3;
$error: #f55b5b;
$grey: #dee0e3;
$primar-text: #262626;
$body-bg: #f9f9f9;
$control-error: #e54050;
$login-bg: #d7e0fb;
$primary-shade-1: #90a3bf;
$primary-v-1: #1746d3;
$icon-hover: #e7edff;
$search-text: #b3b3b3;
$statistic-purple-bg: #efeffa;
$statistic-blue-bg: #e0e9fe;
$statistic-orange-bg: #fdefe3;
$statistic-green-bg: #def6e3;
$label: #727272;
$value-increase: #39b78a;
$blue-1: #123089;
$blue-2: #1e4cd2;
$blue-3: #7a9bf9;
$blue-4: #baccff;
