@charset "utf-8";

/*
------------------------------------------------------------
Project Name : nb-theme-9;
------------------------------------------------------------
*/

/* Reset 
--------------------------------------------------------------------------------------------------------*/

/* 
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General 
--------------------------------------------------------------------------------------------------------*/
* {
  outline: none !important;
}
.window-resizing * {
  transition: none;
}
.page-loaded a {
  transition: all 0.3s;
}
html,
body {
  min-width: 375px;
  min-height: 100vh;
}
body {
  font-size: 16px;
  line-height: 20px;
  color: #262626;
  background-color: #f9f9f9;
  font-family: "Urbanist", sans-serif;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: subpixel-antialiased;
}
.wrapper {
  min-height: 100vh;
}
.main-content {
  min-height: calc(100vh - 58px);
  padding: 102px 32px 0 264px;
  transition: all 0.3s;
  position: relative;
}
.toggle-menu .main-content {
  padding-left: 32px;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #999;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
  padding: 0 0 20px;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  display: block;
}
h6 {
  font-size: 18px;
  line-height: 22px;
  color: #262626;
}
h5 {
  font-size: 20px;
  line-height: 24px;
}
h4 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #262626;
}
h3 {
}
h2 {
}
h1 {
}
p {
  padding: 0 0 20px;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  appearance: none;
}
.form-control::-webkit-input-placeholder {
  color: #727272;
}
.form-control::-moz-placeholder {
  color: #727272;
}
.form-control:-ms-input-placeholder {
  color: #727272;
}
.form-control:-moz-placeholder {
  color: #727272;
}
::-moz-focus-inner {
  border: 0;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
option:not(:checked) {
  color: black;
}
input.form-control:-webkit-autofill,
input.form-control:-webkit-autofill:hover,
input.form-control:-webkit-autofill:focus,
input.form-control:-webkit-autofill:active,
input.form-control:-internal-autofill-selected {
  -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}
.logo {
  display: inline-block;
  vertical-align: middle;
}
.logo img {
  display: block;
}
.section-heading {
  font-weight: 600;
}
.pb-20 {
  padding-bottom: 20px !important;
}
/* Primary Link */
.primary-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #3563e9;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}
.primary-link::after {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 0;
  height: 1px;
  background-color: currentColor;
  width: 100%;
  transition: all 0.3s;
}
.primary-link:hover,
.primary-link:focus {
  color: #3563e9;
}
.primary-link:hover::after,
.primary-link:focus::after {
  left: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #e4e4e4;
  border-radius: 10px;
}

/* Button */
.page-loaded .btn,
.dropdown-toggle {
  box-shadow: none !important;
  outline: none !important;
  transition: all 0.3s;
}
.icon-btn {
  border: none;
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
  border-radius: 50%;
  position: relative;
}
.icon-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.4s ease-out;
  background-color: #e7edff;
  border-radius: 50%;
}
.icon-btn:hover::before,
.icon-btn:focus::before {
  transform: translate(-50%, -50%) scale(1);
}
.icon-btn img {
  display: block;
  position: relative;
  z-index: 1;
}
.btn-primary {
  border: none;
  padding: 4px 16px;
  background: #3869e8 !important;
  color: #ffffff !important;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  border-radius: 8px;
  height: 48px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
}
.btn-primary::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
  width: 0;
  background: #194dd2;
  transition: all 0.3s;
  border-radius: 8px;
}
.btn-primary:hover::before,
.btn-primary:focus::before {
  width: 100%;
}
.btn-primary > * {
  position: relative;
  z-index: 1;
}

.btn-outline-primary {
  border-color: #3869e8 !important;
  color: #3869e8 !important;
  border-radius: 8px;
  padding: 11px 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  background-color: transparent !important;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 48px;
}
.btn-outline-primary::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 0;
  background-color: #f1f5fd;
  transition: all 0.3s;
  border-radius: 6px;
}
.btn-outline-primary:hover::before,
.btn-outline-primary:focus::before {
  width: 100%;
}
.btn-outline-primary > * {
  position: relative;
  z-index: 1;
}

.btn-outline-secondary {
  border-color: #dee0e3 !important;
  color: #262626 !important;
  border-radius: 8px;
  padding: 4px 10px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  background-color: transparent !important;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 36px;
}
.btn-outline-secondary::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 0;
  background-color: #f1f2f3;
  transition: all 0.3s;
  border-radius: 8px;
}
.btn-outline-secondary:hover::before,
.btn-outline-secondary:focus::before {
  width: 100%;
}
.btn-outline-secondary > * {
  position: relative;
  z-index: 1;
}

/* Card */
.card {
  background-color: #ffffff;
  box-shadow: 0px 0px 16px 0px rgba(25, 34, 60, 0.1);
  border-radius: 10px;
  border: none;
  margin-bottom: 32px;
  height: calc(100% - 32px);
}
.card .card-header {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  border: none;
  background-color: transparent;
  padding: 20px 20px 10px 20px;
}
.card-heading {
  font-weight: 600;
  padding-bottom: 0;
}
.card-body {
  padding: 0 20px 20px;
}

/* Dropdown */
.dropdown-toggle {
  line-height: 22px;
}
.dropdown-toggle::after {
  display: none !important;
}
.dropdown-menu {
  border: none;
  border-radius: 10px;
  padding: 0;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.06);
  min-width: 180px;
  display: block !important;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  right: 0 !important;
  bottom: auto !important;
  left: auto !important;
  top: calc(100% + 8px) !important;
  transform: none !important;
}
.dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  top: 100% !important;
}
.dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent !important;
  position: relative;
}
.dropdown-menu .dropdown-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  background-color: #e7edff;
  width: 0;
  transition: all 0.3s;
}
.dropdown-menu .dropdown-item:hover::after,
.dropdown-menu .dropdown-item:focus::after {
  width: 100%;
}
.dropdown-menu .dropdown-item > * {
  position: relative;
  z-index: 1;
}
/* Form Control */
.form-group {
  margin-bottom: 20px;
}
.form-control {
  height: 48px;
  padding: 6px 12px !important;
  min-height: 48px;
  box-shadow: none !important;
  color: #262626;
  transition: all 0.15s ease-in-out;
  border-radius: 8px;
  border-color: #ced4da;
  background-color: transparent;
}
textarea.form-control {
  height: auto;
  padding: 12px 16px !important;
}
.form-group > label {
  font-size: 14px;
  line-height: 18px;
  color: #262626;
  padding-bottom: 3px;
}
.form-control:hover,
.form-control:focus {
  border-color: #3869e8;
}
.form-control.is-invalid {
  background-image: url("../images/error-info-icon.svg");
  border-color: #e54050;
  background-size: 20px;
  padding-right: 36px !important;
}
.invalid-feedback {
  font-size: 12px;
  line-height: 20px;
  color: #e54050;
}
.form-control:disabled {
  border-color: #f3f3f3;
  background-color: #f3f3f3;
  cursor: not-allowed;
}
.form-control:disabled ~ label {
  color: #acacac;
}
.password-field {
  position: relative;
}
.password-field .icon-btn {
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.password-field .icon-btn:hover,
.password-field .icon-btn:focus {
  background-color: #f5f5f5;
}
.password-field .icon-btn .show-password {
  margin-left: -20px;
  opacity: 0;
}
.password-field .icon-btn.show-password .hide-password {
  opacity: 0;
}
.password-field .icon-btn.show-password .show-password {
  opacity: 1;
}

/* Select2 */
.select2-container--default .select2-selection--single {
  border-color: #dee0e3;
  border-radius: 8px;
  height: 48px;
  transition: all 0.15s ease-in-out;
}
.select2-container--default:hover .select2-selection,
.select2-container--focus .select2-selection {
  border-color: #3563e9;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 20px;
  width: 20px;
  background: url("../images/select-icon.svg") center no-repeat;
  background-size: 20px;
  top: 50%;
  bottom: auto;
  right: 10px;
  transform: translateY(-50%);
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  display: none;
}
.select2-container--default .select2-selection--single.year-select-menu {
  height: 36px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #262626;
  height: 48px;
  display: flex;
  align-items: center;
  padding-right: 34px;
  padding-left: 12px;
}
.select2-container--default
  .select2-selection--single.year-select-menu
  .select2-selection__rendered {
  font-size: 12px;
  line-height: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 32px;
}
.select2-dropdown {
  border-color: #dee0e3;
  border-radius: 8px;
  overflow: hidden;
}
.select2-container--default .select2-results__option--selected {
  background-color: #ebeffd;
}
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #3563e9;
}
/* Checkbox */
.checkbox-outer {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
}
.form-check {
  padding-left: 24px;
  margin-bottom: 0;
  min-height: auto;
  line-height: 20px;
}
.form-check .form-check-input {
  height: 16px;
  width: 16px;
  border-radius: 4px;
  border: 1px solid #a5a9ad;
  transition: all 0.3s;
  margin-left: -24px;
  margin-top: 0;
}
.form-check .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(56, 105, 232, 0.2);
}
.form-check .form-check-input:hover,
.form-check .form-check-input:focus {
  border-color: #3869e8;
}
.form-check .form-check-input:checked {
  border-color: #3869e8;
  background-color: #3869e8;
  background-position: center;
  background-size: 12px;
}
.form-check-input:checked[type="checkbox"] {
  --bs-form-check-bg-image: url("../images/checkbox-checked-icon.svg");
}
.form-check .form-check-label {
  color: #262626;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
}

/* Radio Button */
.radio-grp {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 32px;
}
.radio-grp .form-check {
  padding-left: 26px;
}
.form-check .form-check-input[type="radio"] {
  border-radius: 50%;
  background-size: 10px;
  background-position: center;
  height: 20px;
  width: 20px;
  margin-left: -26px;
  border-width: 2px;
}
.form-check .form-check-input:checked[type="radio"] {
  background-color: #ffffff;
  --bs-form-check-bg-image: url("../images/radio-checked-icon.svg");
}

/* File Upload */
.file-upload-outer {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 32px;
}
.file-upload-outer p {
  padding-bottom: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #262626;
}
.upload-btn {
  background-color: #3563e9;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  height: 48px;
  width: 120px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s;
  position: relative;
}
.upload-btn input {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  cursor: pointer;
  opacity: 0;
}
.upload-btn:hover {
  background-color: #1746d3;
}
.btn-grp {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 32px;
}

/* Alert */
.alert {
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  padding: 13px 20px;
  color: #ffffff;
  margin-bottom: 0;
  background-color: transparent;
  margin-bottom: 20px;
}
.alert.alert-info {
  border-color: #92a2f3;
  color: #92a2f3;
}
.alert.alert-warning {
  border-color: #ef7c1d;
  color: #ef7c1d;
}
.alert.alert-danger {
  border-color: #f55b5b;
  color: #f55b5b;
}
.alert.alert-success {
  border-color: #43bd91;
  color: #43bd91;
}
.alert.alert-success .btn-close {
  --bs-btn-close-bg: url("../images/success-close-icon.svg");
}
.alert.alert-danger .btn-close {
  --bs-btn-close-bg: url("../images/danger-close-icon.svg");
}
.alert.alert-warning .btn-close {
  --bs-btn-close-bg: url("../images/warning-close-icon.svg");
}
.alert.alert-info .btn-close {
  --bs-btn-close-bg: url("../images/info-close-icon.svg");
}
.alert .btn-close {
  background-size: 20px;
  padding: 8px;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  opacity: 1;
  box-shadow: none;
  border-radius: 50%;
}
.alert .btn-close:hover,
.alert .btn-close:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Tab */
.nav-pills {
  position: relative;
}
.nav-pills .nav-link {
  color: #3563e9;
  border-bottom: none;
  border-radius: 4px;
  background-color: transparent;
  position: relative;
  padding: 8px 16px;
  box-shadow: none;
  height: 40px;
  min-width: 70px;
  transition: all 0.3s;
}
.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 0;
  transform: translateX(-50%);
  border-radius: 4px;
  background-color: #edf1fd;
  transition: all 0.3s;
}
.nav-pills .nav-link:hover:not(.active, :active)::before,
.nav-pills .nav-link:focus:not(.active, :active)::before {
  width: 100%;
}
.nav-pills .nav-link:hover,
.nav-pills .nav-link:focus {
  color: #3563e9;
}
.nav-pills .nav-link.active {
  background-color: #3563e9;
  color: #ffffff;
}
.nav-pills .nav-link span {
  position: relative;
  z-index: 1;
}
.tab-content .tab-pane p {
  padding-bottom: 16px;
  color: #262626;
}
.tab-content .tab-pane p:last-child {
  padding-bottom: 0;
}

/* Login
--------------------------------------------------------------------------------------------------------*/
.login-wrapper {
  min-height: 100vh;
  background-color: #d7e0fb;
  padding: 20px 80px;
  display: flex;
  align-items: center;
}
.login-wrapper .shape {
  position: absolute;
}
.login-wrapper .right-shape {
  right: 0;
  top: 0;
}
.login-wrapper .left-shape {
  left: 0;
  bottom: 0;
}
.login-wrapper .login-card {
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 84px 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  min-height: calc(100vh - 160px);
  width: 100%;
}
.login-wrapper .login-card .login-banner img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}
.login-wrapper .login-form {
  text-align: center;
  max-width: 380px;
  width: 100%;
}
.login-wrapper .login-form .login-logo {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 30px;
}
.login-wrapper .login-form .login-logo img {
  display: block;
}
.login-wrapper .login-form h4 {
  font-weight: 600;
  padding-bottom: 4px;
}
.login-wrapper .login-form .sub-info {
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 30px;
}
.login-wrapper .login-form .form-group {
  text-align: left;
}
.login-wrapper .login-form .action-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 22px 0;
}
.login-wrapper .login-form .btn-primary {
  margin-bottom: 30px;
}
.login-wrapper .login-form .sign-up-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
/* Header
--------------------------------------------------------------------------------------------------------*/
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 232px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 8px 32px;
  z-index: 2;
  transition: all 0.3s;
  box-shadow: 5px 0 8px 1px rgba(0, 0, 0, 0.1);
}
.header .menu-btn {
  margin-left: -8px;
  margin-right: 16px;
}
.header .menu-btn img {
  height: 24px;
  width: 24px;
}
.notification-menu .dropdown-toggle {
  position: relative;
}
.notification-menu .dropdown-toggle .badge {
  height: 9px;
  width: 9px;
  border: 1px solid #ffffff;
  background-color: #e54050;
  border-radius: 50%;
  padding: 0;
  display: block;
  right: 10px;
  top: 8px;
  position: absolute;
  z-index: 1;
}
.notification-menu .dropdown-menu {
  width: 338px;
  padding: 20px 20px 7px;
}
.notification-menu .notification-header {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  padding-bottom: 4px;
}
.notification-menu .notification-header h6 {
  font-weight: 600;
}
.notification-menu .notification-header .icon-btn {
  margin: -8px;
}
.notification-menu .notification-content {
  max-height: 300px;
  overflow: auto;
  margin-right: -8px;
  padding-right: 8px;
}
.notification-menu .notification-content .dropdown-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 0 9px;
  border-bottom: 1px solid #dee0e3;
  white-space: normal;
}
.notification-menu .notification-content .dropdown-item p {
  padding-bottom: 0;
  font-size: 14px;
  line-height: 18px;
  color: #262626;
}
.notification-menu .notification-content .dropdown-item .time {
  font-weight: 500;
  min-width: 60px;
  text-align: right;
}
.notification-menu .footer-link {
  color: #3563e9;
  text-align: center;
  font-weight: 500;
  line-height: 20px;
  min-height: 40px !important;
  display: inline-flex;
  align-items: center;
  margin: 7px auto 0;
  position: relative;
}
.notification-menu .footer-link::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 0;
  bottom: 0;
  background-color: #3563e9;
  transition: all 0.3s;
}
.notification-menu .footer-link:hover::after,
.notification-menu .footer-link:focus::after {
  width: 100%;
}
.profile-menu {
  margin-left: 4px;
}
.profile-menu .dropdown-toggle {
  display: flex;
  align-items: center;
  margin-right: -8px;
  text-align: left;
  gap: 10px;
  padding: 8px;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.profile-menu .dropdown-toggle > * {
  position: relative;
  z-index: 1;
}
.profile-menu .dropdown-toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: all 0.3s;
  background-color: #e7edff;
}
.profile-menu .dropdown-toggle:hover::before,
.profile-menu .dropdown-toggle:focus::before {
  height: 100%;
}
.profile-menu .dropdown-toggle .profile-down-icon {
  transition: all 0.3s;
}
.profile-menu .dropdown-toggle[aria-expanded="true"] .profile-down-icon {
  transform: rotate(180deg);
}
.profile-menu .dropdown-toggle p {
  padding-bottom: 0;
}
.profile-menu .dropdown-toggle .department {
  font-size: 14px;
  line-height: 18px;
  color: #262626;
}
.profile-menu .dropdown-toggle .name {
  font-weight: 500;
  color: #262626;
}
.profile-menu .dropdown-menu {
  padding: 10px 0;
}
.profile-menu .dropdown-item {
  display: flex;
  align-items: center;
  height: 44px;
  gap: 10px;
  padding: 4px 12px;
  color: #262626;
}
.profile-menu .dropdown-item p {
  padding-bottom: 0;
}
.search-wrapper {
  position: relative;
  max-width: 260px;
  width: 100%;
  margin-right: auto;
}
.search-wrapper .form-control {
  width: 100%;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid transparent;
  padding-left: 28px !important;
}
.search-wrapper .form-control:hover,
.search-wrapper .form-control:focus {
  border-color: #3563e9;
}
.search-wrapper .form-control::-webkit-input-placeholder {
  color: rgba(114, 114, 114, 0.5);
}
.search-wrapper .form-control::-moz-placeholder {
  color: rgba(114, 114, 114, 0.5);
}
.search-wrapper .form-control:-ms-input-placeholder {
  color: rgba(114, 114, 114, 0.5);
}
.search-wrapper .form-control:-moz-placeholder {
  color: rgba(114, 114, 114, 0.5);
}
.search-wrapper .icon-btn {
  position: absolute;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
}
.toggle-menu .header {
  left: 0;
}
/* Sidebar
--------------------------------------------------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  width: 232px;
  transition: all 0.3s;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.sidebar .logo {
  padding: 16px;
  width: 100%;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  height: calc(100vh - 96px);
  overflow: auto;
}
.sidebar .nav-list .nav-item {
  width: 100%;
}
.sidebar .nav-list .icon-block {
  height: 24px;
  width: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.sidebar .nav-list .icon-block img {
  position: relative;
  transition: all 0.3s;
}
.sidebar .nav-list .icon-block img:last-child {
  top: -24px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
}
.sidebar .nav-list .nav-link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  color: #90a3bf;
  height: 44px;
  padding: 8px 12px;
  position: relative;
  border-left: 2px solid transparent;
  transition: all 0.3s;
  box-shadow: none !important;
  outline: none !important;
}
.sidebar .nav-list .nav-link.active {
  border-color: #3563e9;
  background: rgba(53, 99, 233, 0.1);
}
.sidebar .nav-list .nav-link.active,
.sidebar .nav-list .nav-link:hover,
.sidebar .nav-list .nav-link:focus {
  font-weight: 600;
  color: #3563e9;
}
.sidebar .nav-list .nav-link:hover .icon-block img:first-child,
.sidebar .nav-list .nav-link:focus .icon-block img:first-child,
.sidebar .nav-list .nav-link.active .icon-block img:first-child {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
}
.sidebar .nav-list .nav-link:hover .icon-block img:last-child,
.sidebar .nav-list .nav-link:focus .icon-block img:last-child,
.sidebar .nav-list .nav-link.active .icon-block img:last-child {
  opacity: 1;
  visibility: visible;
  height: 24px;
  width: 24px;
  transform: scale(1);
}
.toggle-menu .sidebar {
  left: -240px;
}
/* Dashboard
--------------------------------------------------------------------------------------------------------*/
.statistic-card {
  box-shadow: 0px 0px 16px 0px rgba(25, 34, 60, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 28px 20px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s ease-out;
  position: relative;
  overflow: hidden;
  margin-bottom: 32px;
  height: calc(100% - 32px);
  background-color: #ffffff;
}
.statistic-card > * {
  position: relative;
  z-index: 1;
}
.statistic-card::before {
  content: "";
  position: absolute;
  left: -107%;
  bottom: -107%;
  height: 0;
  width: 0;
  transition: all 0.4s ease-out;
  border-radius: 50%;
}
.statistic-card .icon-block {
  height: 48px;
  width: 48px;
  min-width: 48px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.4s ease-in;
}
.statistic-card.purple .icon-block {
  background-color: #efeffa;
}
.statistic-card.blue .icon-block {
  background-color: #e0e9fe;
}
.statistic-card.orange .icon-block {
  background-color: #fdefe3;
}
.statistic-card.green .icon-block {
  background-color: #def6e3;
}
.statistic-card:hover::before {
  width: 214%;
  height: 214%;
}
.statistic-card.purple:hover::before {
  background-color: #efeffa;
}
.statistic-card.blue:hover::before {
  background-color: #e0e9fe;
}
.statistic-card.orange:hover::before {
  background-color: #fdefe3;
}
.statistic-card.green:hover::before {
  background-color: #def6e3;
}
.statistic-card:hover .icon-block {
  background-color: #ffffff;
}
.statistic-card p {
  padding-bottom: 0;
}
.statistic-card .label {
  font-size: 16px;
  line-height: 20px;
  color: #727272;
  padding-bottom: 4px;
  white-space: nowrap;
}
.statistic-card .value {
  font-size: 24px;
  line-height: 28px;
  color: #262626;
  font-weight: 700;
}
.statistic-card .growth-text {
  margin-left: auto;
  align-self: flex-end;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}
.statistic-card .decrease {
  color: #e54050;
}
.statistic-card .increase {
  color: #39b78a;
}
.booking-chart-outer {
  height: 240px;
  width: 100%;
}
.car-rental-chart-outer {
  height: 180px;
  width: 180px;
  position: relative;
}
.car-rental-chart-outer .text-outer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.car-rental-chart-outer .text-outer p {
  padding-bottom: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #262626;
}
.car-rental-chart-outer .text-outer span {
  font-size: 14px;
  line-height: 18px;
  color: #90a3bf;
}
.rental-chart .card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rental-chart ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  min-width: 138px;
}
.rental-chart ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}
.rental-chart ul p {
  padding-bottom: 0;
}
.rental-chart ul .legend-label {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #90a3bf;
}
.rental-chart ul .color-block {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: block;
}
.rental-chart ul .color-block.bg-1 {
  background-color: #123089;
}
.rental-chart ul .color-block.bg-2 {
  background-color: #1e4cd2;
}
.rental-chart ul .color-block.bg-3 {
  background-color: #3563e9;
}
.rental-chart ul .color-block.bg-4 {
  background-color: #7a9bf9;
}
.rental-chart ul .color-block.bg-5 {
  background-color: #baccff;
}
.rental-chart ul .value {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #262626;
  margin-left: auto;
}
.transaction-card .btn-outline-primary {
  height: 36px;
  padding: 4px 10px;
  font-size: 12px;
  line-height: 18px;
}
.transaction-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.transaction-list .transaction-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-bottom: 1px solid rgba(144, 163, 191, 0.2);
}
.transaction-list .transaction-list-item .car-brand {
  overflow: hidden;
}
.transaction-list .transaction-list-item p {
  padding-bottom: 0;
}
.transaction-list .transaction-list-item .brand-name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #262626;
  padding-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.transaction-list .transaction-list-item .car-type {
  font-size: 12px;
  line-height: 16px;
  color: #90a3bf;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.transaction-list .transaction-list-item .date {
  font-size: 12px;
  line-height: 16px;
  color: #90a3bf;
  font-weight: 500;
  padding-bottom: 4px;
}
.transaction-list .transaction-list-item .value {
  font-size: 18px;
  line-height: 22px;
  color: #262626;
  font-weight: 700;
}
.transaction-list .transaction-list-item .car-value {
  margin-left: auto;
  text-align: right;
}
/* Innerpage
--------------------------------------------------------------------------------------------------------*/
.card.page-card .card-body {
  padding-top: 20px;
}
/* Footer
--------------------------------------------------------------------------------------------------------*/
.footer p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #262626;
  text-align: right;
  padding: 20px 32px 20px 0;
}
/* Datatable
--------------------------------------------------------------------------------------------------------*/
.dataTable thead tr th {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #262626;
  border-bottom: none !important;
  height: 48px;
  vertical-align: middle;
  white-space: nowrap;
  padding: 4px 20px !important;
  background: rgba(53, 99, 233, 0.06);
}
.dataTable tbody tr td {
  font-size: 14px;
  line-height: 20px;
  color: #262626;
  padding: 4px 20px !important;
  border-bottom: 1px solid rgba(144, 163, 191, 0.2) !important;
  height: 48px;
  vertical-align: middle;
  white-space: nowrap;
}
.dataTable tbody tr td .status {
  height: 28px;
  padding: 2px 8px;
  min-width: 92px;
  border-radius: 50px;
  font-weight: 500;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 18px;
}
.dataTable tbody tr td .status.success {
  background: rgba(57, 183, 138, 0.08);
  color: #39b78a;
}
.dataTable tbody tr td .status.danger {
  background: rgba(243, 85, 100, 0.08);
  color: #f35564;
}
.dataTable tbody tr td .status.warning {
  color: #ef8834;
  background: rgba(239, 136, 52, 0.08);
}
table.dataTable td.dt-type-numeric,
table.dataTable th.dt-type-numeric {
  text-align: left;
}
table.dataTable thead > tr > th span {
  display: inline-block;
  vertical-align: middle;
}
table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order,
table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order,
table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order,
table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order {
  position: relative;
  right: auto;
  top: auto;
  bottom: auto;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
table.dataTable thead > tr > th span.dt-column-order {
  background-image: url("../images/sorting-icon.svg");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}
table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order {
  background-image: url("../images/sort-asc-icon.svg");
}
table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order {
  background-image: url("../images/sort-desc-icon.svg");
}
table.dataTable thead > tr > th .dt-column-order::before,
table.dataTable thead > tr > th .dt-column-order::after {
  display: none !important;
}
div.dt-container .dt-paging {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 6px;
  padding-right: 6px;
}
div.dt-container div.dt-layout-row.dt-layout-table {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
div.dt-container div.dt-layout-row:last-child {
  padding: 12px 0 0;
}
div.dt-container .dt-paging .dt-paging-button {
  padding: 4px;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: none !important;
  color: #727272 !important;
  box-shadow: none !important;
}
div.dt-container .dt-paging .dt-paging-button.disabled {
  opacity: 0.38;
}
div.dt-container .dt-paging .dt-paging-button:hover,
div.dt-container .dt-paging .dt-paging-button:focus,
div.dt-container .dt-paging .dt-paging-button:active {
  background: rgba(53, 99, 233, 0.2) !important;
  color: #727272 !important;
}
div.dt-container .dt-paging .dt-paging-button.current,
div.dt-container .dt-paging .dt-paging-button.current:hover {
  background: rgba(53, 99, 233, 0.2) !important;
  color: #3563e9 !important;
}
.dt-paging .dt-paging-button.disabled {
  cursor: not-allowed !important;
}
div.dt-container div.dt-layout-cell {
  padding: 0;
}
div.dt-container select.dt-input {
  border-color: #dee0e3;
  width: 66px;
  padding: 4px 34px 4px 10px;
  border-radius: 6px;
  appearance: none;
  background: url(../images/pagination-down-arrow-icon.svg) center right 10px
    no-repeat;
  background-size: 20px;
  margin-right: 12px;
  height: 36px;
}
div.dt-container .dt-length label {
  font-size: 14px;
  line-height: 18px;
  color: #262626;
  font-weight: 500;
}
.sidebar-overlay {
  display: none;
}
/* Responsive Media Querie
--------------------------------------------------------------------------------------------------------*/
@media (max-width: 1399px) {
  /* Login */
  .login-wrapper {
    padding: 20px;
  }
  .login-wrapper .login-card {
    padding: 80px;
  }
  /* General */
  .main-content {
    min-height: calc(100vh - 58px);
    padding: 92px 20px 0 20px;
  }
  .toggle-menu {
    overflow: hidden;
  }
  .toggle-menu .main-content {
    padding-left: 20px;
  }
  .toggle-menu .sidebar-overlay {
    opacity: 1;
    visibility: visible;
  }
  .card,
  .statistic-card {
    margin-bottom: 20px;
    height: calc(100% - 20px);
  }
  /* Sidebar */
  .sidebar {
    left: -240px;
    top: 0;
    z-index: 3;
  }
  .toggle-menu .sidebar {
    left: 0;
  }
  .sidebar-overlay {
    display: block;
    position: fixed;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  /* Header */
  .header {
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* Footer */
  .footer p {
    padding-right: 20px;
  }

  /* Dashboard */
}
@media (max-width: 1199px) {
  /* Login */
  .login-wrapper .login-card {
    padding: 40px;
  }

  /* General */

  /* Datatable */

  /* Dashboard */
  .rental-chart ul {
    gap: 8px;
  }
  .transaction-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px 16px;
  }
  .transaction-list .transaction-list-item {
    max-width: calc(50% - 8px);
  }

  /* Innerpage */
}
@media (max-width: 991px) {
  /* Login */
  .login-wrapper .login-card {
    flex-direction: column;
    gap: 40px;
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
  }
  .login-wrapper .shape {
    height: 60px;
    width: 60px;
  }
  .login-wrapper .login-form .login-logo {
    margin-bottom: 20px;
  }
  .login-wrapper .login-form .sub-info {
    padding-bottom: 20px;
  }
  .login-wrapper .login-card .login-banner img {
    max-width: 400px;
  }
  /* Header */

  /* Dashboard */
  .rental-chart .card-body {
    gap: 40px;
    justify-content: center;
  }

  /* Innerpage */
  .section-heading {
    padding-bottom: 16px;
  }
  .file-upload-outer {
    padding-bottom: 20px;
  }
  .checkbox-outer,
  .radio-grp,
  .btn-grp {
    padding-bottom: 24px;
  }
}
@media (max-width: 767px) {
  /* Mobile Search */

  /* Dashboard */
  .transaction-list .transaction-list-item {
    max-width: none;
    min-width: 100%;
  }
  /* Table */
  div.dt-container .dt-paging {
    justify-content: center;
    padding-top: 12px;
  }
}
@media (max-width: 575px) {
  /* Login */
  .login-wrapper .login-card {
    gap: 20px;
    padding: 40px 20px;
  }
  .login-wrapper .shape {
    height: 50px;
    width: 50px;
  }
  /* Header */
  .header {
    padding-left: 16px;
    padding-right: 16px;
  }
  .profile-menu .dropdown-toggle {
    min-width: auto;
    border-radius: 50%;
  }
  .header .menu-btn {
    margin-right: 8px;
  }
  .profile-menu .dropdown-toggle .profile-content,
  .profile-menu .dropdown-toggle .profile-down-icon {
    display: none;
  }
  .notification-menu .dropdown-menu {
    padding: 16px 16px 7px;
    width: 300px;
  }

  /* General */
  .main-content {
    min-height: calc(100vh - 58px);
    padding: 92px 16px 0 16px;
  }
  .card .card-header {
    padding: 16px 16px 10px 16px;
  }
  .card-body {
    padding: 0 16px 16px;
  }
  .toggle-menu .main-content {
    padding-left: 16px;
  }

  /* Dashboard */
  .rental-chart .card-body {
    flex-direction: column;
    gap: 16px;
  }
  .card,
  .statistic-card {
    margin-bottom: 16px;
    height: calc(100% - 16px);
  }
  .statistic-card {
    padding: 20px 16px;
  }

  /* Footer */
  .footer p {
    padding: 16px;
  }
}
